.Order {
  width: 80%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
}

.Box {
  texttransform: capitalize;
  display: inline-block;
  margin: 8px;
  border: 1px solid #ccc;
  background: #ea4c89;
  font-size: 15px;
  color: white;
  padding: 10px 16px;
  border-radius: 4px;
}
