.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  /*margin-left: 0;*/
  /*padding-left: 0;*/
}

.Success {
  color: white;
  background: #ea4c89;
  padding: 10px 16px;
  border-radius: 4px;
}

.Danger {
  color: white;
  background: #aa6817;
  padding: 10px 16px;
  border-radius: 4px;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
