.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
.InputElement {
  outline: none;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: none;
}
input:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  background-color: salmon;
}

.Remember {
  text-align: right;
  font-size: 10px;
}

.Checkbox {
  margin-left: 80%;
}

.BorderBottom {
  border-bottom: 1px solid #eee;
}
