.Auth {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  padding-top: 20px;
  /*box-shadow: 0 2px 3px #ccc;*/
  /*border: 1px solid #eee;*/
  /*padding: 10px;*/
  /*box-sizing: border-box;*/
}

.subText {
  font-size: 12px;
  font-style: italic;
  margin: 0;
  display: inline-block;
}

.signUp {
  font-weight: bold;
  font-size: 20px;
}

.btnSignIn {
  color: #aa6817;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  background: transparent;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}
